@page
@model WebApp.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.username)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./IndexS">Back to List</a>
</div>
